</main>
</div>
    <footer class="pt-2 pb-0" style="background-color: #11CCEC">
        <div class="container">
          <div class="d-flex flex-row-reverse justify-content-around align-items-center">
            <h6>Developed with <span class="" style="color: #E83E8C;">❤</span> by <a class="" style="color: #E83E8C;" href="https://ibro.ml">Ibrahim Olufowora</a></h6>
            <!-- <h6>{{ .Site.Copyright | markdownify }}
               Back to <a href="{{.Site.BaseURL}}" title="Posts">Posts</a>
            </h6> -->
          </div>
        </div>
    </footer>
   <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
       <script id="dsq-count-scr" src="https://blog-ibro-ml.disqus.com/count.js" async></script>
<script src="{{ "js/scripts.js" | relURL }}"></script>
{{ if .Site.GoogleAnalytics }}
  {{ template "_internal/google_analytics_async.html" . }}
{{ end }}
</body>
</html>